body, html {
 height:100%;
 margin: 0;
 background-color:#222222;
}

.main {
 background-color:#222222;
}

.head {
 color:#fff;
 height:100px;
 padding-top: 50px;
 font-size: x-large;
 font-family: "Arial";
}

.content {
    width: 750px;
    border: 2px solid white;
    padding: 10px;

}

.fullscreen {
    width: 100%;
    height: 100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
}

li {
    display: inline;    
    border-right: 1px solid #fff;
    padding-right: 10px;    
}

li:last-child
{
    padding-left : 10px;
    border: 0;
}